.blog-container {
    width: 75%;
    margin-top: 50px;
    margin-left: 150px;
    margin-bottom: 30px;

}

@media screen and (max-width:1100px) {
    .blog-container {
        width: 75%;
        margin-left: 90px;
        margin-bottom: 25px;

    }
}

@media screen and (max-width:577px) {
    .blog-container {
        width: 75%;
        margin-left: 70px;
        margin-bottom: 20px;

    }
}